body {
	font: normal small Arial, Verdana, sans-serif;
}

.hide {
	display: none;
}

#view-add {
	border: 1px solid #999;
	left: 350px;
	padding-bottom: 10px;
	padding-left: 10px;
	position: absolute;
	top: 10px;
	width: 166px;
}

#view-add div {
	background-color: green;
	color: #fff;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
}